# {{ ansible_managed }}

{% for service in services.netflix %}
address=/{{ service }}/{{ hostvars['proxy']['ansible_default_ipv4'].address }}
{% endfor %}

server={{ primary_dns }}
server={{ secondary_dns }}